/* General Layout */
.three-column-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#left-column {
    flex: 1;
    order: 1;
}

#center-column {
    flex: 2;
    order: 2;
}

#right-column {
    flex: 1;
    order: 3;
}

.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.lego-logo {
    height: 3.5em;
    width: auto;
    padding: 0 0.2em;
}

/* Hexagon */
.circle:hover {
    stroke-width: 1;
}

/* Search + Pick for Me */
#parent-search-container {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

#search-container {
    display: inline-block;
    width: auto;
}

label {
    width: 3rem;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#pick-random {
    width: 100%;
    padding: 0;
    margin: 0.5rem 0 0 0
}

.selected-card {
    position: relative;
    width: 180px;
    height: 250px;
    margin-top: 25px;
    z-index: -1;
}

.selected-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: var(--selected-card-color);
    transform: skewX(30deg);
    z-index: -1;
}

.selected-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: -90px;
    width: 180px;
    height: 100%;
    border-radius: 10px;
    background: var(--selected-card-color);
    z-index: -1;
}


.selected-card:hover,
.selected-card::after:hover,
.selected-card::before:hover {
    transform: scale(1.05);
}

.card-title {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    margin: 0;
}

.card-content {
    position: absolute;
    width: 120%;
    height: 100%;
    right: -105px;

    padding: 15px;
    text-align: center;
}

.card-image {
    height: 100%;
    max-height: 120px;
    max-width: 170px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}

.card-info-titles,
.card-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.card-info-titles h4,
.card-info h5 {
    margin: 0;
}

#parent-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 400px;
    margin: 20px auto;
}

label {
    margin-right: 10px;
}

#search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


body {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.lego-rect {
    cursor: pointer;
}

#button-container {
    background-color: white;
    border: none;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    margin-right: 5px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Tooltips */
#tooltip {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
    gap: 3px;
}

.tooltip-title {
    color: #000;
    font-size: 16px;
}
